<div class="ui centered card">
	<div class="content">
		<div class="header">
			{{$ctrl.timerObject.title}}
		</div>
		<div class="meta">
			{{$ctrl.timerObject.project}}
		</div>
		<div class="center aligned description">
			<h2>
				{{$ctrl.elapsedTime | msToHuman}}
			</h2>
		</div>
		<div class="extra content">
			<span class="right floated edit icon">
				<i class="edit icon"></i>
			</span>
			<span class="right floated trash icon">
				<i class="trash icon"></i>
			</span>
		</div>
	</div>
	
	<timer-action-button></timer-action-button>
</div>