<div class="ui three column centered grid">
	<div class="column">
		<div class="ui segment" ng-if="$ctrl.isLoading"  style="height: 85px;">
			<div class="ui active dimmer">
				<div class="ui text loader">Loading</div>
			</div>
		</div>
		<div id="timers" ng-if="!$ctrl.isLoading">
			<timer
				ng-repeat="timer in $ctrl.timers"
				refresh="$ctrl.loadTimers"
				timer-object="timer">
			</timer>
			<toggleable-timer-form refresh="$ctrl.loadTimers"></toggleable-timer-form>
		</div>
	</div>
</div>